:root {
    --azul: blue;
    --rosado: pink;
    --rojo:rgba(204, 9, 9, 0.568);
    --negro:black;
    --blanco: white;
    --bordo: #7c0000ea;
    --blanco_transparente: rgba(240, 235, 235, 0.89)ff00;
    --azul_transparente: #0f1ea14d;
    font-family: 'Times New Roman', Times, serif;
}

* {
    padding: 0;
    margin: 0.2rem;
}

html {
    scroll-behavior:smooth;
    padding: 5rem;
    padding-bottom: 2rem;
}

main {
    padding: 12rem;
    margin-bottom: 1rem;
    margin-top: -20rem;
    background-color: #ffffff60;
    border-radius: 10%;
    border-top-style:groove;
    border-bottom-style: groove;
    border-color: var(--negro);
    border-width: 1.5rem;
}

main address {
    gap: 1rem;
    padding: 2rem;
}

h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


body {
    background: linear-gradient(rgb(159, 159, 182), pink); /*GRADIENTE*/
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border: 100px;
    padding: 80px;
    margin: 10px;
}

header h1, h2 {
    text-decoration:underline;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 9rem;
    margin-top: -10rem; 
}



/*DATOS*/

.Datos {
    padding: -6rem;                      /*REVISAR EN CASO DE QUERER MODIFICARLO / HACER MAS COSAS*/

}

.Datos__Contacto {
    padding-top: 1rem;
    border-left-style: double;
    border-color: var(--bordo);
    border-top-style: double;
    border-right-style: double;
}

.titulo {
    padding: 0.5rem;
}

.Datos__Fechas {
    display: grid;
    grid-template-columns: repeat(3);   /*repeat nos ayuda a acomodar*/
    padding: 2rem;
    border-left-style: double;
    border-color: var(--bordo);
}

.Datos h4 {
    color: rgba(204, 9, 9, 0.568);
}

.Datos__Nacionalidad {
    display: grid;
    grid-template-columns: repeat(3);   /*repeat nos ayuda a acomodar*/
    padding: 2rem;
    border-left-style: double;
    border-color: var(--bordo);
    border-bottom-style: double;
    border-right-style: double;
}

img {
    width: 17%;     /*media queries???¿¿¿*/
    position: absolute;
    border-radius: 100%;
    right: 300px;
    bottom: -100px;
    border-style: double;
    border-width: 0.5rem;
    border-color: var(--bordo);
    top: 28rem;
}

a {
    color: #7c0000ea;
    text-decoration:none;
}

.columna1,
.columna2 {
    gap: 1rem;
}

.columna2, 
.columna1,
.columna3, 
.columna4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-style:double;
    border-color: var(--bordo);
    padding: 2rem;
}

.columnita4 {
    padding: 2rem;
}


.Detalles {
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    background-color: var(--azul_transparente);
    padding-left: 1rem;
    padding: 1rem;
}

.Perfil {
    padding-bottom: 1.5rem;
    text-align: center;
    background-color: var(--azul_transparente);
    padding-top: 1rem;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    margin: 4rem;
}

.Perfil__texto {
    padding-bottom: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /*CREAMOS UNA SOLA COLUMNA para poder acomodar el texto a lo largo de todo*/
    padding-top: 1rem;
}


